#### NAME
    tr - translate or delete characters
#### SYNOPSIS
    tr [OPTION]... SET1 [SET2]
#### DESCRIPTION
    Translate, squeeze, and/or delete characters from standard input, writing to standard output.

#### OPTIONS

###### default

In [1]:
# Conversion between upper and lower case characters.
echo "HELLO BASH" | tr 'A-Z' 'a-z'

hello bash

In [2]:
echo 'hello jupyter' | tr 'a-z' 'A-Z'

HELLO JUPYTER

In [3]:
# Multiple rows are merged into one line, 
# separated by a comma
cat ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48

In [4]:
tr '\n' ',' < ip.list

192.168.1.30,192.168.1.33,192.168.1.34,192.168.1.40,192.168.1.48,

In [5]:
# The same as:
cat ip.list | tr '\n' ','

192.168.1.30,192.168.1.33,192.168.1.34,192.168.1.40,192.168.1.48,

###### -d, --delete
    delete characters in SET1, do not translate

In [6]:
# Remove numbers
echo 'hello 123 world 456' | tr -d '0-9'

hello  world

In [7]:
# Remove numbers and spaces
echo 'hello 123 world 456' | tr -d '0-9 '

helloworld

In [16]:
# Delete quotation marks for each line in the ip.list
cat ip.list

'192.168.1.30'
'192.168.1.33'
'192.168.1.34'
'192.168.1.40'
'192.168.1.48'

In [10]:
tr -d "'" < ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48

In [11]:
# Remove the space for each line
# The Tab space is similar.
cat ip.list

 192.168.1.30
  192.168.1.33
   192.168.1.34
    192.168.1.40
     192.168.1.48

In [12]:
tr -d ' ' < ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48

In [4]:
# Convert Windows newline to Unix newline.
cat -A Windows.txt

Windows file ends with '\r\n'^M$
So,you can delete '\r' with 'tr -d'^M$
Yes,you can do it.!^M$

In [5]:
tr -d '\r' < Windows.txt > Linux.txt
cat -A Linux.txt

Windows file ends with '\r\n'$
So,you can delete '\r' with 'tr -d'$
Yes,you can do it.!$

###### -s, --squeeze-repeats
    replace  each  input  sequence of a repeated character that is listed in SET1 
    with a single occurrence of that character

In [3]:
echo 'Thisssss iss a text linnne.' | tr -s 'sn'

This is a text line.

In [6]:
# Remove all blank lines in the file
cat lines.txt

This is the first line.

This is the second line.


This is the third line.




This is the four line.
This is the five line.

In [7]:
tr -s '\n' < lines.txt

This is the first line.
This is the second line.
This is the third line.
This is the four line.
This is the five line.

###### -c, -C, --complement
    use the complement of SET1

In [8]:
echo 'aa.,a 1 b#$bb 2 c*/cc 3 ddd 4' | tr -d -c '0-9 \n'

 1  2  3  4

###### -t, --truncate-set1
    first truncate SET1 to length of SET2

SETs are specified as strings of characters.  
Most represent themselves.   
Interpreted sequences are:

###### \NNN   
    character with octal value NNN (1 to 3 octal digits)
###### \\     
    backslash
###### \a     
    audible BEL
###### \b     
    backspace
###### \f    
    form feed
###### \n    
    new line
###### \r     
    return
###### \t     
    horizontal tab
###### \v     
    vertical tab
###### CHAR1-CHAR2
    all characters from CHAR1 to CHAR2 in ascending order
###### [CHAR*]
    in SET2, copies of CHAR until length of SET1
###### [CHAR*REPEAT]
    REPEAT copies of CHAR, REPEAT octal if starting with 0
###### [:alnum:]
    all letters and digits
###### [:alpha:]
    all letters
###### [:blank:]
    all horizontal whitespace
###### [:cntrl:]
    all control characters
###### [:digit:]
    all digits
###### [:graph:]
    all printable characters, not including space
###### [:lower:]
    all lower case letters
###### [:print:]
    all printable characters, including space
###### [:punct:]
    all punctuation characters
###### [:space:]
    all horizontal or vertical whitespace
###### [:upper:]
    all upper case letters
###### [:xdigit:]
    all hexadecimal digits
###### [=CHAR=]
    all characters which are equivalent to CHAR

Translation  occurs  if  -d  is not given and both SET1 and SET2 appear.-t may be used only when translating.  SET2 is extended to length of SET1 by repeating its  last character as necessary.Excess characters of SET2 are ignored.Only [:lower:] and [:upper:] are guaranteed to expand in ascending order; used in SET2 while translating, they may only be used in pairs to specify case conversion. -s uses SET1 if not translating nor deleting; else squeezing uses SET2 and occurs after translation or deletion.

In [9]:
# Conversion between upper and lower case characters.
echo 'this is the test line.' | tr [:lower:] [:upper:]

THIS IS THE TEST LINE.

In [13]:
# translate all the white-space to tabs
echo "This is for testing." | tr [:space:] '\t' | cat -A

This^Iis^Ifor^Itesting.^I

In [14]:
# squeeze the repetition of white-space and translate it to tabs
echo "This  is   for    testing." | tr [:space:] '\t' | cat -A

This^I^Iis^I^I^Ifor^I^I^I^Itesting.^I

In [15]:
echo "This  is   for    testing." | tr -s [:space:] '\t' | cat -A

This^Iis^Ifor^Itesting.^I