#### NAME
    tr - translate or delete characters
#### SYNOPSIS
    tr [OPTION]... SET1 [SET2]
#### DESCRIPTION
    Translate, squeeze, and/or delete characters from standard input, writing to standard output.

#### OPTIONS

###### default

In [1]:
# Conversion between upper and lower case characters.
echo "HELLO BASH" | tr 'A-Z' 'a-z'

hello bash

In [2]:
echo 'hello jupyter' | tr 'a-z' 'A-Z'

HELLO JUPYTER

In [3]:
# Multiple rows are merged into one line, 
# separated by a comma
cat ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48

In [4]:
tr '\n' ',' < ip.list

192.168.1.30,192.168.1.33,192.168.1.34,192.168.1.40,192.168.1.48,

In [5]:
# The same as:
cat ip.list | tr '\n' ','

192.168.1.30,192.168.1.33,192.168.1.34,192.168.1.40,192.168.1.48,

###### -d, --delete
    delete characters in SET1, do not translate

In [6]:
# Remove numbers
echo 'hello 123 world 456' | tr -d '0-9'

hello  world

In [7]:
# Remove numbers and spaces
echo 'hello 123 world 456' | tr -d '0-9 '

helloworld

In [16]:
# Delete quotation marks for each line in the ip.list
cat ip.list

'192.168.1.30'
'192.168.1.33'
'192.168.1.34'
'192.168.1.40'
'192.168.1.48'

In [10]:
tr -d "'" < ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48

In [11]:
# Remove the space for each line
# The Tab space is similar.
cat ip.list

 192.168.1.30
  192.168.1.33
   192.168.1.34
    192.168.1.40
     192.168.1.48

In [12]:
tr -d ' ' < ip.list

192.168.1.30
192.168.1.33
192.168.1.34
192.168.1.40
192.168.1.48